@using Code

<div class="soberNumDisplayFlex">
	<div class="SoberNumDisplay">
		<h1 class="soberNumTextDisplay">@timer.years</h1>
		<h3 class="GreenColorText soberNumTextDisplay">Years</h3>
	</div>
	<div class="SoberNumDisplay">
		<h1 class="soberNumTextDisplay">@timer.days</h1>
		<h3 class="GreenColorText soberNumTextDisplay">Days</h3>
	</div>
</div>
<div class="soberNumDisplayFlex">
	<div class="SoberNumDisplay">
		<h1 class="soberNumTextDisplay">@timer.hours</h1>
		<h3 class="GreenColorText soberNumTextDisplay">Hours</h3>
	</div>
	<div class="SoberNumDisplay">
		<h1 class="soberNumTextDisplay">@timer.minutes</h1>
		<h3 class="GreenColorText soberNumTextDisplay">Mins</h3>
	</div>
	<div class="SoberNumDisplay">
		<h1 class="soberNumTextDisplay">@timer.seconds</h1>
		<h3 class="GreenColorText soberNumTextDisplay">Secs</h3>
	</div>
</div>

@code{
	[Parameter] public SobrietyTimer timer { get; set; }

	public void ChangeState()
	{
		StateHasChanged();
	}
}